* {
  margin: 0;
  padding: 0;
  box-shadow: 0;
}

/* STYLES NAVBAR */
.navbar {
  width: 100vw;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #b1b2ff;
}
.logo {
  width: 10vw;
  height: 95%;
}
.display{
  display: none;
}
.bnt-navbar a {
  font-size: 28px;
  margin: 0 15px 0 15px;
  text-decoration: none;
  color: black;
}
.bnt-navbar a:hover {
  color: white;
}
.bnt-menu {
  display: none;
}
.bnt-navbar-mobile{
  display: none;
}
/* STYLES FILTER */

.filter-menu,
.filter-mobile {
  display: none;
}

#filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.filter {
  width: 50vw;
  height: 30px;
  background-color: #3fa9f58b;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.filter form label {
  margin-right: 30px;
  font-size: 18px;
}

/* STYLES PROJECTS */
.projects {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 70px;
  flex-wrap: wrap;
}
.project {
  background-color: #3fa9f58b;
  border-radius: 15px;
  width: 20vw;
  height: 22vw;
  cursor: pointer;
}

.project img {
  width: 90%;
  height: 75%;
  margin: 5%;
  border-radius: 15px;
}
.project h3 {
  text-align: center;
}

/* STYLES MODAIS */

#modal-container-epet {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-container-brilhocar {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-container-techcode {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#modal-container-programaemc {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-project {
  width: 60vw;
  height: 70vh;
  background-color: #3fa9f5;
  border-radius: 15px;
}
.modal-project h1 {
  text-align: center;
  margin-top: 15px;
}
.modal-project .link {
  background-color: #ff0800;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin: 20px;
  margin-left: 20%;
}
.modal-project .link a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.modal-project .link:hover {
  background-color: #ff6965;
}
.modalproject {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 30px;
}
.modalproject img {
  width: 40%;
  max-height: 60%;
  border-radius: 15px;
}
.modalproject p {
  width: 40%;
  text-align: justify;
}

@media (min-width: 382px) and (max-width: 420px) {
  /* STYLES NAVBAR */
  .navbar {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b1b2ff;
  }
  .logo {
    width: 50vw;
    height: 95%;
  }

  .bnt-navbar a {
    font-size: 28px;
    margin: 0 15px 0 15px;
    text-decoration: none;
    color: black;
  }
  .bnt-navbar a:hover {
    color: white;
  }

  .bnt-navbar {
    display: none;
  }
  .bnt-menu {
    display: flex;
    width: 20vw;
    height: 30%;
  }
  .bnt-navbar-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #9395f8;
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .bnt-navbar-mobile ul {
    list-style-type: none;
    margin-top: 150px;
  }
  ul li {
    font-size: 28px;
    margin: 15px;
  }
  ul li a {
    color: black;
    text-decoration: none;
  }
  .bnt-navbar-mobile h1 {
    color: red;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 36px;
  }
  /* STYLES FILTER */
  #filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .filter {
    width: 80vw;
    height: 30px;
    background-color: #3fa9f58b;
    border: 1px solid black;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .filter form label {
    margin-right: 30px;
    font-size: 18px;
  }
  .filter-mobile form input {
      width: 20px;
      height: 20px;
  }
  .filter-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #9395f8;
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .filter-mobile form ul {
    list-style-type: none;
    margin-top: 150px;
  }
  .filter-mobile h1 {
    color: red;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 36px;
  }
  .filter-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .filter-menu img {
    width: 30px;
  }
  /* STYLES PROJECTS */
  .projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .project {
    background-color: #3fa9f58b;
    border-radius: 15px;
    width: 70vw;
    height: 72vw;
    cursor: pointer;
    margin: 20px 0;
  }

  .project img {
    width: 90%;
    height: 75%;
    margin: 5%;
    border-radius: 15px;
  }
  .project h3 {
    text-align: center;
  }

  /* STYLES MODAIS */

  #modal-container-epet {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #modal-container-brilhocar {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #modal-container-techcode {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #modal-container-programaemc {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .modal-project {
    width: 80vw;
    height: 90vh;
    background-color: #3fa9f5;
    border-radius: 15px;
  }
  .modal-project h1 {
    text-align: center;
    margin-top: 15px;
  }
  .modalproject{
    display: flex;
    flex-direction: column;
  }
  .modalproject img{
    width: 90%;
    height: 50%;
    margin: 0 5%;
  }
  .modalproject p{
    width: 90%;
    margin: 25px 5%;
    text-align: justify;
  }
  .modal-project .link{
    margin-left: 34%;
  }
}

@media (max-width: 381px) {
  /* STYLES NAVBAR */
  .navbar {
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b1b2ff;
  }
  .logo {
    width: 50vw;
    height: 95%;
  }

  .bnt-navbar a {
    font-size: 28px;
    margin: 0 15px 0 15px;
    text-decoration: none;
    color: black;
  }
  .bnt-navbar a:hover {
    color: white;
  }

  .bnt-navbar {
    display: none;
  }
  .bnt-menu {
    display: flex;
    width: 20vw;
    height: 30%;
  }
  .bnt-navbar-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #9395f8;
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .bnt-navbar-mobile ul {
    list-style-type: none;
    margin-top: 150px;
  }
  ul li {
    font-size: 28px;
    margin: 15px;
  }
  ul li a {
    color: black;
    text-decoration: none;
  }
  .bnt-navbar-mobile h1 {
    color: red;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 36px;
  }
  /* STYLES FILTER */
  #filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .filter {
    width: 80vw;
    height: 30px;
    background-color: #3fa9f58b;
    border: 1px solid black;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }
  .filter form label {
    margin-right: 30px;
    font-size: 18px;
  }
  .filter-mobile form input {
      width: 20px;
      height: 20px;
  }
  .filter-mobile {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #9395f8;
    width: 50vw;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  .filter-mobile form ul {
    list-style-type: none;
    margin-top: 150px;
  }
  .filter-mobile h1 {
    color: red;
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 36px;
  }
  .filter-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .filter-menu img {
    width: 30px;
  }
  /* STYLES PROJECTS */
  .projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .project {
    background-color: #3fa9f58b;
    border-radius: 15px;
    width: 70vw;
    height: 72vw;
    cursor: pointer;
    margin: 20px 0;
  }

  .project img {
    width: 90%;
    height: 75%;
    margin: 5%;
    border-radius: 15px;
  }
  .project h3 {
    text-align: center;
  }

  /* STYLES MODAIS */

  #modal-container-epet {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 300vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: start;
    padding-top: 150px;
  }
  #modal-container-brilhocar {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 300vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #modal-container-techcode {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 300vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  #modal-container-programaemc {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 300vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
  }
  .modal-project {
    width: 80vw;
    height: 120vh;
    background-color: #3fa9f5;
    border-radius: 15px;
  }
  .modal-project h1 {
    text-align: center;
    margin-top: 15px;
  }
  .modalproject{
    display: flex;
    flex-direction: column;
  }
  .modalproject img{
    width: 90%;
    height: 50%;
    margin: 0 5%;
  }
  .modalproject p{
    width: 90%;
    margin: 25px 5%;
    text-align: justify;
  }
  .modal-project .link{
    margin-left: 34%;
  }
}